body{
    background-color: #222222;
}
#carhead{
    width: 100vw;
    height: 120rem;
    position: relative;
    border-radius: 50px;
}
.logo{
    height: 10rem;
    width: 31rem;
    position: absolute;
    z-index: 10;
    top: 4rem;
    left: 5rem;
}
.shape {
    width: 13rem;
    height: 11rem;
    top: 4rem;
    left: 36rem;
}
.royal {
    position: absolute;
    z-index: 10;
    width: 25rem;
    height: 13rem;
    top: 4rem;
    right: 2rem;
}
h3{
    color: #FFD600;
    font-size: 4rem;
    position: absolute;
    z-index: 10;
    top: 12rem;
    left: 2rem; 
    font-family: 'Tinos', serif;
    letter-spacing: 1rem;
    text-shadow:2px 2px 2px #222222;
}
.copy{
    height: 80rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: auto;
}
.copy p{
    color: #FFD600;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 1rem;
    font-family: 'Tinos', serif;
}
.car3{
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex: auto;
}
.car-pic{
    width: 1015px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#map{
position: relative;
    right:90% ;
}
#benz{
position: relative;
left:60% ;
}












/* .slideshow {
    width: 75vw;
    height: 75vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

/* .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-bar {
    height: 100%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    border-style: none;
    font-size: 30px;
    cursor: pointer;
} */

.controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 25px;
    padding: 10px;
    z-index: 10;
}

.bubble {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.previous {
    left: 0px;
}

.next {
    right: 0px;
}

button:focus {
    outline-style: none;
}