body{
    background-color: #222222;
}
#carhead{
    width: 100vw;
    height: 120rem;
    position: relative;
    border-radius: 50px;
}
.logo{
    height: 10rem;
    width: 31rem;
    position: absolute;
    z-index: 10;
    top: 4rem;
    left: 5rem;
}
.shape {
    width: 13rem;
    height: 11rem;
    top: 4rem;
    left: 36rem;
}
.royal {
    position: absolute;
    z-index: 10;
    width: 25rem;
    height: 13rem;
    top: 4rem;
    right: 2rem;
}
h3{
    color: #FFD600;
    font-size: 4rem;
    position: absolute;
    z-index: 10;
    top: 12rem;
    left: 2rem; 
    font-family: 'Tinos', serif;
    letter-spacing: 1rem;
    text-shadow:2px 2px 2px #222222;
}